@inherits System.Web.Mvc.WebViewPage<dynamic>

@{
    View.Title = Model.DisplayName + "'s Achievements";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

<div class="three-column">
    
    <div class="panel">
        <h2 class="header">Positive</h2>
        <ul class="body">
		@foreach(var achievement in Model.PositiveAchievements) {
			<li> @achievement.Achievement.Name </li>
		}
        </ul>
    </div>
    
    <div class="panel">
        <h2 class="header">Negative</h2>
        <ul class="body">
		@foreach(var achievement in Model.NegativeAchievements) {
			<li> @achievement.Achievement.Name </li>
		}
        </ul>
    </div>
    
    <div class="panel">
        <h2 class="header">Medals</h2>
        <ul class="body">
		@foreach(var achievement in Model.NeutralAchievements) {
			<li> @achievement.Achievement.Name </li>
		}
        </ul>
    </div>
    

	<div class="panel activities-container">
		<h2>Developer Activity</h2>
		<table class="body activities">
			<thead>
			<tr> <th>Name</th>  <th>Timestamp</th> </tr>
			</thead>
			
			<tbody>
			@foreach(var activity in Model.Activities) {
				<tr> 
					<td class="name">@activity.DisplayName</td>
					<td class="timestamp">@activity.Timestamp</td>
				</tr>
			}
			</tbody>
		</table>
	</div>

</div>