@inherits System.Web.Mvc.WebViewPage<LeaderBoardStatistics>
@{
    View.Title = "Leaderboard";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel">
    	<h2 class="header">Rock Stars</h2>
	    <ul class="body leaderboard-rankings">
        @foreach(var developer in ViewData.Model.RockStars) {
		    <li class="leaderboard-ranking">
			    <span class="rank">@developer.Statistics.Rank</span>
			    <span class="name">@developer.DisplayName</span>
                <span class="statistics">
				    <span class="positive">@developer.Statistics.PositiveAchievementsCount </span>
				    <span class="negative">@developer.Statistics.NegativeAchievementsCount</span>
			        <span class="percentage">@developer.Statistics.Percentage.ToString("#0%")</span>
                </span>
		    </li>
        }
	    </ul>
    </div>

    <div class="panel">
	    <h2 class="header">n00bs</h2>
	    <ul class="body leaderboard-rankings">
        @foreach(var developer in ViewData.Model.n00bs) {
		    <li class="leaderboard-ranking">
			    <span class="rank">@developer.Statistics.Rank</span>
			    <span class="name">@developer.DisplayName</span>
                <span class="statistics">
				    <span class="positive">@developer.Statistics.PositiveAchievementsCount </span>
				    <span class="negative">@developer.Statistics.NegativeAchievementsCount</span>
			        <span class="percentage">@developer.Statistics.Percentage.ToString("#0%")</span>
                </span>
		    </li>
        }
	    </ul>
    </div>


    <hr />


@foreach(var activityGroup in ViewData.Model.ActivityGroups) {
    <div class="panel">
	    <h2 class="header">Top @activityGroup.Name Activity</h2>
	    <ul class="body leaderboard-rankings">
		    @foreach(var activityCount in activityGroup.ActivityCounts) {
		    <li class="leaderboard-ranking">@activityCount.Key.DisplayName (Count: @activityCount.Value)</li>
		    }
	    </ul>
    </div>
}
